@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  background-color: #d9d9d9;
  color: #141414;
}

a {
  text-decoration: none;
}

app-top-bar {
  display: flex;
  background-color: #141414;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
}

app-top-bar button {
  display: flex;
  font-size: 12px;
  width: 14em;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

app-top-bar h1 {
  font-style: bold;
  color: white;
}

app-months {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
  padding: 3px;
}

button {
  display: flex;
  padding: 24px;
  margin: 3px;
  /*width: 12em;*/
  align-items: center;
  justify-content: center;
  background-color: #cf3030;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}